certifi==2021.10.8
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
Deprecated==1.2.13
gym==0.21.0
importlib-metadata==4.10.1
networkx==2.6.3
numpy==1.21.5
opencv-python==4.5.5.62
python-tsp==0.2.1
tabulate==0.8.9
torch==1.10.1
tsplib95==0.7.1
typing_extensions==4.0.1
wincertstore==0.2
wrapt==1.13.3
zipp==3.7.0
